{{!< default}}

<div class="container">

<div class="row" id="live-search">

	<form method="GET" action="results.html" class="col-sm-6 col-sm-offset-3" id="search-form">
		<div class="form-group">
	        <label for="search">Search based on PMCID, author, title, and keyword to find articles to read in Lens PMC.  Not all articles are Open Access in PMC. Due to copyright, these papers are not available in full.</label>
	        <input name="query" id="search" class="form-control" type="text" placeholder="Enter a PubMed search query">
          <button type="submit" class="btn btn-default " id="search-button">Search</button>
	    </div>
	    <p class="dateline">
	    	<label for="date-begin"><i>(Optional)</i> Publication year</label>
	    	<input name="date-begin" type="number" class="small-text" placeholder="1800" /> 
	    	<label for="date-end">to</label> 
	    	<input name="date-end" type="number" class="small-text" placeholder="present" />  
	    </p>
	    
	    <div class="form-group">
	       
	    </div>
	</form>
</div>

<hr />    

<div class="row">
	<sidebar class="col-sm-3">

       <h3>OA</h3>
       <ul class="unstyled">
        <li>
          <label class="radio" name="full_only">
            <input type="radio" class="search-refresh" checked="checked" name="article_type" value="full_only"/>Full Article Only
          </label>
        </li>
        <li>
          <label class="radio" name="all_results">
            <input type="radio" class="search-refresh" name="article_type" value="all_results"/>All Results
          </label>
        </li>
      </ul>

      <h3>Journals</h3>
      <ul class="unstyled" id="journal-list"></ul>
      <script id="journal-template" type="text/x-handlebars-template">
        \{{#journals}}
          <li>
            <label class="checkbox">
              <input type="checkbox" class="search-refresh" name="jrnlpub" value="\{{this}}" />\{{this}}
            </label>
          </li>
        \{{/journals}}
      </script>
    </sidebar>

	<article class="col-sm-9 result-list">
	  
	  <h3>Results</h3>
	  
	  <p id="result-total"></p>
	  
	  <ul id="pagination"></ul>

	  <ul class="unstyled" id="result-list"></ul>
    <script id="result-template" type="text/x-handlebars-template">
      \{{#results}}
        <li>
          <h4>
            <a href="lens/?pmc=\{{ pmcid }}">\{{ title }}</a>
          </h4>
          <p>
            \{{ authors }}<br />
            <span class="italic">\{{ journal }}</span>&nbsp;&nbsp;\{{ year }}
          </p>
          <p><a href="#" class="save" data-pmcid="\{{ pmcid }}">Save</a></p>
        </li>
      \{{/results}}
    </script>

	</article>    
</div>